{% include base.html %} {% assign docu = base %}

<ul class="nav">
	<li><a href="{{docu}}/index.html">openHAB Basics</a>
		<ul>
			<li><a href="{{docu}}/index.html">Things, Items & Co</a></li>
			<li><a href="{{docu}}/index.html">Sitemaps</a></li>
			<li><a href="{{docu}}/index.html">Add-ons</a></li>
		</ul>
	</li>
	<li><a href="{{docu}}/index.html">Installing openHAB</a>
		<ul>
			<li><a href="{{docu}}/index.html">Java</a></li>
			<li><a href="{{docu}}/index.html">Runtime</a></li>
			<li><a href="{{docu}}/index.html">Designer</a></li>
		</ul>
	</li>
</ul>