[submodule "_repos/openhab2-addons"]
	path = _repos/openhab2-addons
	url = https://github.com/openhab/openhab2-addons.git
	branch = master
[submodule "_repos/smarthome"]
	path = _repos/smarthome
	url = https://github.com/eclipse/smarthome.git
	branch = master
[submodule "_repos/openhab"]
	path = _repos/openhab
	url = https://github.com/openhab/openhab
	branch = master
[submodule "_repos/openhab-bundles"]
	path = _repos/openhab-bundles
	url = https://github.com/openhab/openhab-bundles
	branch = master
