_site
.sass-cache
.jekyll-metadata
.vagrant
node_modules
project.pbxproj
*.xcworkspacedata
*.xcscmblueprint
*.xcuserstate
addons/uis/habmin/node_modules
addons/uis/habmin/target

# Update process
_repos/smarthome
_repos/openhab-distro
_repos/openhab1-addons
_repos/openhab2-addons
_repos/openhab-bundles

# IntelliJ
*.iml
.idea
