---
layout: intro
title: openHAB 2 Documentation
---

{% include base.html %}

<div class="container target">
	<h1>Welcome to the openHAB 2 Documentation!</h1>
	<p>This documentation contains different sections. If you are new to openHAB 2, you might want to start with one of our <a href="tutorials">Tutorials</a> that guides you through different steps by an example. If you are looking for some specific information on how to use openHAB, the <a href="overview.html">User Manual</a> is the right place to go and if you plan to get started with your own developments, please refer to our <a href="developers">Developer Guide</a>.</p>
	<p><strong>Note:</strong> This documentation is currently heavily worked on, so expect regular changes. If you feel that something important is missing, please <a href="https://github.com/openhab/openhab-docs/blob/gh-pages/README.md#contributing-to-the-documentation">help us improve the documentation</a>!
	{% include nav-main-bar.html %}
</div>
