---
layout: intro
title: openHAB 2 Documentation
---

{% include base.html %}

<div class="container target">
  <h1>Welcome to the openHAB 2 Documentation!</h1>
  <p>The <strong>open H</strong>ome <strong>A</strong>utomation <strong>B</strong>us (openHAB, <em>pronounced ˈəʊpənˈhæb</em>) is an open source, technology agnostic home automation platform which runs as the center of your smart home!</p>
  <p>This documentation contains three different categories. If you are new to openHAB 2, you might want to start with one of the <a href="{{root}}/tutorials/index.html">Tutorials</a>. Otherwise, for specific information on how to use or install openHAB, see the <a href="{{base}}/introduction.html">User Manual</a>. If you would like to contribute to the development of openHAB, please refer to our <a href="{{root}}/developers/index.html">Developer Guide</a>.</p>
  <p><strong>Note:</strong> This documentation is currently heavily worked on, so expect regular changes. If you feel that something important is missing, please <a href="https://github.com/openhab/openhab-docs/blob/gh-pages/README.md#contributing-to-the-documentation">help us improve the documentation</a>!
	{% include nav-main-bar.html %}
</div>
