<br />
<hr />
<br />
<div class="row">
  <div class="col s10 offset-s1">
    <div class="card grey lighten-2">
      <div class="card-content black-text">
        <span class="card-title grey-text">Contributions Wanted</span>
        <p>Help improve the openHAB 2.0 documentation! If you'd like to leave fixes, additons or comments for this article, please drop a word at:</p>
      </div>
      <div class="card-action">
        <a href="https://github.com/openhab/openhab-docs/issues">docs.openhab.org Issue Tracker</a>
      </div>
    </div>
  </div>
</div>
