<br />
<hr />
<br />
<div class="row">
  <div class="col s10 offset-s1">
    <div class="card grey lighten-3" id="contribution-wanted">
      <div class="card-content black-text">
        <span class="card-title">Contributions Wanted</span>
        <p>Help improve the openHAB 2 documentation! If you'd like to leave corrections, additions or comments for this article or any other part of this website, please drop a word at:</p>
      </div>
      <div class="card-action">
        <a target="_blank" href="https://github.com/openhab/openhab-docs/issues">docs.openhab.org Issue Tracker</a>
      </div>
    </div>
  </div>
</div>
