{% include base.html %} {% assign docu = base %}

<ul class="nav">
	<li><a href="{{docu}}/developers">Overview</a></li>
	<li><a href="{{docu}}/developers/contributing/contributing">Contributing</a></li>
	<li><a href="{{docu}}/developers/prerequisites/OSGi.html">Prerequisites</a>
		<ul>
			<li><a href="{{docu}}/developers/prerequisites/OSGi.html">OSGi</a>
				<ul>
					<li><a href="{{docu}}/developers/prerequisites/OSGi.html">Overview</a></li>
					<li><a href="{{docu}}/developers/prerequisites/OSGi-ds.html">Declarative Services</a></li>
					<li><a href="{{docu}}/developers/prerequisites/OSGi-tasks.html">Coding tasks</a></li>
			</ul></li>     
		</ul></li>
	<li><a href="{{docu}}/developers/development/ide.html">Basics</a>
		<ul>
			<li><a href="{{docu}}/developers/development/ide.html">IDE Setup</a></li>
			<li><a href="{{docu}}/developers/development/guidelines.html">Code Guidelines</a></li>
			<li><a href="{{docu}}/developers/development/bindings.html">Developing Bindings</a></li>
		</ul></li>
	<li><a href="{{docu}}/developers/development/evolution.html">Migration from 1.x</a>
		<ul>
			<li><a href="{{docu}}/developers/development/evolution.html">Technical Differences</a></li>
			<li><a href="{{docu}}/developers/development/compatibilitylayer.html">Compatibility Layer</a></li>
		</ul></li>
</ul>