{% include base.html %} {% assign docu = base %}

<ul class="nav">
    <li><a href="{{docu}}/developers/introduction/introduction">Overview</a></li>
    <li><a href="{{docu}}/developers/contributing/contributing">Contributing as a developer</a></li>
	<li><a href="{{docu}}/developers/development/ide.html">Development basics</a>
		<ul>
			<li><a href="{{docu}}/developers/development/ide.html">IDE Setup</a></li>
            <li><a href="{{docu}}/esh/guidelines.html">Guidelines</a></li>
            <li><a href="{{docu}}/developers/development/bindings.html">Bindings</a></li>
        </ul></li>
    <li><a href="{{docu}}/developers/development/evolution.html">Technical Difference to openHAB 1</a>
        <ul>
            <li><a href="{{docu}}/developers/development/evolution.html">Technical Difference to openHAB 1</a></li>
            <li><a href="{{docu}}/features/compatibilitylayer.html">openHAB 1 compatibility layer</a></li>
		</ul></li>
</ul>