{% include base.html %} {% assign docu = base %}

<ul class="nav">
    <li><a href="{{docu}}/50_developers_guide/00_introduction/introduction">Overview</a></li>
    <li><a href="{{docu}}/50_developers_guide/05_contributing/contributing">Contributing as a developer</a></li>
	<li><a href="{{docu}}/50_developers_guide/10_development/ide.html">Development basics</a>
		<ul>
			<li><a href="{{docu}}/50_developers_guide/10_development/ide.html">IDE Setup</a></li>
            <li><a href="{{docu}}/esh/guidelines.html">Guidelines</a></li>
            <li><a href="{{docu}}/50_developers_guide/10_development/bindings.html">Bindings</a></li>
        </ul></li>
    <li><a href="{{docu}}/50_developers_guide/10_development/evolution.html">Technical Difference to openHAB 1</a>
        <ul>
            <li><a href="{{docu}}/50_developers_guide/10_development/evolution.html">Technical Difference to openHAB 1</a></li>
            <li><a href="{{docu}}/features/compatibilitylayer.html">openHAB 1 compatibility layer</a></li>
		</ul></li>
</ul>