{% include base.html %} {% assign docu = base %}

<ul class="nav">
	<li><a href="{{docu}}/20_reference_manual/00_introduction/introduction.html">Overview</a></li>
	<li><a href="{{docu}}/esh/items.html">Concepts</a>
		<ul>
			<li><a href="{{docu}}/esh/items.html">Items</a></li>
			<li><a href="{{docu}}/esh/things.html">Things</a></li>
			<li><a href="{{docu}}/esh/discovery.html">Inbox & Discovery</a></li>
		</ul>
	</li>
    <li><a href="{{docu}}/20_reference_manual/20_installation/gettingstarted.html">Installing openHAB</a/></li>
</ul>