{% include base.html %} {% assign docu = base %}

<ul class="nav">
	<li><a href="{{docu}}/index.html">Overview</a></li>
	<li><a href="{{docu}}/concepts-esh/items.html">Concepts</a>
		<ul>
			<li><a href="{{docu}}/concepts-esh/items.html">Items</a></li>
			<li><a href="{{docu}}/concepts-esh/things.html">Things</a></li>
			<li><a href="{{docu}}/concepts-esh/discovery.html">Inbox & Discovery</a></li>
			<li><a href="{{docu}}/concepts-esh/events.html">Events</a></li>
		</ul>
	</li>
	<li><a href="{{docu}}/features/addons.html">Add-ons</a>
		<ul>
			<li><a href="{{docu}}/features/bindings/hue/readme.html">Bindings</a>
				<ul>
					<li><a href="{{docu}}/features/bindings/digitalstrom/readme.html">digitalSTROM</a></li>
					<li><a href="{{docu}}/features/bindings/hue/readme.html">Philips Hue</a></li>
					<li><a href="{{docu}}/features/bindings/fsinternetradio/readme.html">FS Internet Radio</a></li>
					<li><a href="{{docu}}/features/bindings/lifx/readme.html">LIFX</a></li>
					<li><a href="{{docu}}/features/bindings/ntp/readme.html">NTP Time Server</a></li>
					<li><a href="{{docu}}/features/bindings/wemo/readme.html">Belkin Wemo</a></li>
					<li><a href="{{docu}}/features/bindings/yahooweather/readme.html">Yahoo Weather</a></li>
				</ul>
			</li>
			<li><a href="{{docu}}/features/ui/icons.html">User Interfaces</a>
				<ul>
					<li><a href="{{docu}}/features/ui/icons.html">Icon Support</a></li>
					<li><a href="{{docu}}/features/ui/paperui.html">Paper UI</a></li>
				</ul>
			</li>
		</ul>
	</li>
	<li><a href="{{docu}}/development/ide.html">Development</a>
		<ul>
			<li><a href="{{docu}}/development/ide.html">IDE Setup</a></li>
            <li><a href="{{docu}}/development/guidelines.html">Guidelines</a></li>
            <li><a href="{{docu}}/development/bindings.html">Bindings</a></li>
		</ul></li>
	<li><a href="{{docu}}/community/contributing.html">Community</a>
		<ul>
			<li><a href="{{docu}}/community/contributing.html">Contributing</a></li>
			<li><a href="{{docu}}/community/downloads.html">Downloads</a></li>
		</ul></li>
</ul>