{% include base.html %} {% assign docu = base %}

<ul class="nav">
	<li><a href="{{docu}}/reference/introduction/introduction.html">Overview</a></li>
	<li><a href="{{docu}}/esh/items.html">Concepts</a>
		<ul>
			<li><a href="{{docu}}/esh/items.html">Items</a></li>
			<li><a href="{{docu}}/esh/things.html">Things</a></li>
			<li><a href="{{docu}}/esh/discovery.html">Inbox & Discovery</a></li>
		</ul>
	</li>
    <li><a href="{{docu}}/reference/installation/gettingstarted.html">Installing openHAB</a/></li>
    <ul>
        <li><a href="{{docu}}/reference/installation/gettingstarted.html">Installing openHAB</a/></li>
        <li><a href="{{docu}}/reference/installation/jetty.html">Jetty Configuration</a/></li>
    </ul>
</ul>