{% include base.html %}
{% comment %}<!-- Copyright message based on http://www.openhab.org -->{% endcomment %}
<footer style="margin-bottom: 50px">
  <div class="container">
    <div class="row">
        <div class="col s12 m7">
            Copyright &copy; 2018 by the <a href="https://github.com/openhab">openHAB Community</a> and the <a href="http://www.openhabfoundation.org/">openHAB&nbsp;Foundation&nbsp;e.V.</a>
        </div>
        <div class="col s12 m5">
            <ul class="list-inline right-align">
               <li><a href="{{root}}/imprint.html">Imprint</a></li>
               <li><a href="{{root}}/privacy.html">Privacy Policy</a></li>
               <li><a href="http://www.openhab.org">openHAB Website</a></li>
               <li><a href=# onclick="printPage()">Print This Page</a></li>
            </ul>
        </div>
    </div>
  </div>
</footer>
<script src="{{base}}/js/jquery.min.js"></script>
<script src="{{base}}/js/jquery.scrollme.min.js"></script>
<script src="{{base}}/js/jquery.sticky.js"></script>
<script src="{{base}}/js/materialize.min.js"></script>
<script src="{{base}}/js/init.js"></script>
<script src="{{base}}/js/functions.js"></script>
<script type="text/javascript" id="cookieinfo" src="{{base}}/js/cookieinfo.min.js"
    data-bg="#645862" data-fg="#FFFFFF" data-link="#F1D600" data-linkmsg="Privacy Policy"
    data-moreinfo="/privacy.html" data-cookie="CookieInfoScript" data-text-align="left" data-close-text="Got it!">
</script>
</body>
</html>
