{% include base.html %}
{% comment %}<!-- Copyright message based on http://www.openhab.org -->{% endcomment %}
<footer>
  <div class="container">
    <div class="row">
        <div class="col s12 m7">
            Copyright &copy; 2017 by the <a href="https://github.com/openhab">openHAB Community</a> and the <a href="http://www.openhabfoundation.org/">openHAB&nbsp;Foundation&nbsp;e.V.</a>
        </div>
        <div class="col s12 m5">
            <ul class="list-inline right-align">
               <li><a href="/imprint.html">Imprint</a></li>
               <li><a href="/privacy.html">Privacy Policy</a></li>
               <li><a href="http://www.openhab.org">openHAB Website</a></li>
            </ul>
        </div>
    </div>
  </div>
</footer>
<script src="{{base}}/js/jquery.min.js"></script>
<script src="{{base}}/js/jquery.scrollme.min.js"></script>
<script src="{{base}}/js/jquery.sticky.js"></script>
<script src="{{base}}/js/materialize.js"></script>
<script src="{{base}}/js/highlight.pack.js"></script>
<script src="{{base}}/js/init.js"></script>
</body>
</html>
