<!DOCTYPE html>

{% assign newsite = 'https://www.openhab.org' %}
{% assign newurl = newsite | append: '/docs' | append: page.url %}
{% if page.url == '/tutorials/' %}
    {% assign newurl = newsite | append: '/docs/tutorial/' %}
{% elsif page.url contains '/tutorials/beginner/' %}
    {% assign newurl = newurl | replace: '/tutorials/beginner/', '/tutorial/' %}
{% elsif page.url contains '/tutorials/migration.html' %}
    {% assign newurl = newsite | append: '/docs/configuration/migration/' %}
{% elsif page.url == '/introduction.html' %}
    {% assign newurl = newsite | append: '/docs/' %}
{% elsif page.url contains '/addons/uis/paper/' %}
    {% assign newurl = newsite | append: '/docs/configuration/paperui.html' %}
{% elsif page.url contains '/addons/uis/basic/' %}
    {% assign newurl = newsite | append: '/docs/configuration/ui/basic/' %}
{% elsif page.url contains '/addons/uis/classic/' %}
    {% assign newurl = newsite | append: '/docs/configuration/ui/classic/' %}
{% elsif page.url contains '/addons/uis/habmin/' %}
    {% assign newurl = newsite | append: '/docs/configuration/ui/habmin/' %}
{% elsif page.url contains '/addons/uis/habpanel/' %}
    {% assign newurl = newsite | append: '/docs/configuration/habpanel.html' %}
{% elsif page.url contains '/addons/uis/apps' %}
    {% assign newurl = newurl | replace: '/addons/uis/apps', '/apps' %}
{% elsif page.url contains '/addons/ios/alexa-skill' %}
    {% assign newurl = newsite | append: '/docs/ecosystem/alexa/' %}
{% elsif page.url contains '/addons/ios/mycroft-skill' %}
    {% assign newurl = newsite | append: '/docs/ecosystem/mycroft/' %}
{% elsif page.url contains '/addons/' %}
    {% if page.url contains 'readme.html' %}
        {% assign newurl = newsite | append: page.url | replace_first: '/ios', '/integrations' | replace_first: '/voices/', '/voice/' | replace: 'readme.html', '' %}
    {% elsif page.url contains 'transformations.html' %}
        {% assign newurl = newsite | append: '/docs/configuration/transformations.html' %}
    {% elsif page.url contains 'actions.html' %}
        {% assign newurl = newsite | append: '/docs/configuration/actions.html' %}
    {% else %}
        {% assign newurl = newsite | append: '/addons/' %}
    {% endif %}
{% elsif page.url contains '/appendix/' %}
    {% assign newurl = newsite | append: '/about/contributing.html' %}
{% elsif page.url contains '/developers/' %}
    {% assign newurl = newurl | replace: '/developers/', '/developer/' %}
{% endif %}


<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="refresh" content="0;URL={{ newurl }}" />
  <title>{% if page.title != nil %}{{ page.title }} - {% endif %}openHAB 2 - Empowering the Smart Home</title>

  <link rel="canonical" href="{{ newurl }}" />

</head>


<body>
  Redirecting to <a href="{{ newurl }}">{{ newurl }}</a>...
  <script>location='{{ newurl }}'</script>
</body>

</html>
