{% include base.html %}

<div class="row center targets">
  <div class="col s12 m4 l4">
    <a href="{{root}}/tutorials/index.html">
      <div class="target target-beginner card">
        <i class="material-icons icon-large md-48">explore</i>
        <div class="footer">
          <div class="valign-wrapper">
            <h2 class="valign">Tutorials</h2>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col s12 m4 l4">
    <a href="{{base}}/introduction.html">
      <div class="target target-advanced card">
        <i class="material-icons icon-large">library_books</i>
        <div class="footer">
          <div class="valign-wrapper">
            <h2 class="valign">User Manual</h2>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col s12 m4 l4">
    <a href="{{root}}/developers/index.html">
      <div class="target target-migration card">
        <i class="material-icons icon-large">developer_mode</i>
        <div class="footer">
          <div class="valign-wrapper">
            <h2 class="valign">Developer Guide</h2>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
