{% include base.html %}
{% assign docu = base | append: "/tutorials/advanced" %}

<ul class="nav">
  <li>Tutorial (Advanced)</li>
  <ul>
    <li><a href="{{docu}}/index.html">Overview</a></li>
    <li><a href="{{docu}}/installing.html">Installing the extension</a></li>
    <li><a href="{{docu}}/connecting.html">Connecting to the Z-Wave controller</a></li>
    <li><a href="{{docu}}/adding.html">Adding a new thing</a></li>
    <li><a href="{{docu}}/configuring.html">Configuring a thing</a></li>
    <li><a href="{{docu}}/tools.html">Other tools of HABmin</a></li>
  </ul>
</ul>
