{% include base.html %} {% assign docu = base | append: "/tutorials/beginner" %}

<ul class="nav">
    <li>Tutorial (Beginner)</li>
        <ul>
            <li><a href="{{docu}}/index.html">Overview</a></li>
            <li><a href="{{docu}}/uis.html">User Interfaces</a></li>
            <li><a href="{{docu}}/installextension.html">Install an Extension</a></li>
            <li><a href="{{docu}}/configure.html">Configure Functionality</a></li>
            <li><a href="{{docu}}/defineui.html">Define User Interface</a></li>
            <li><a href="{{docu}}/logs.html">Looking to the Logs</a></li>
        </ul>
    </li>
</ul>
