{% include base.html %} {% assign docu = base | append: "/tutorials/beginner" %}

<ul class="nav">
    <li>Tutorial (Beginner)</li>
        <ul>
            <li><a href="{{docu}}/index.html">Overview</a></li>
            <li><a href="{{docu}}/uis.html">User Interfaces</a></li>
            <li><a href="{{docu}}/installing.html">Installing an Extension</a></li>
            <li><a href="{{docu}}/configuring.html">Configuring Functionality</a></li>
            <li><a href="{{docu}}/definingui.html">Defining User Interface</a></li>
            <li><a href="{{docu}}/logs.html">Looking to the Logs</a></li>
        </ul>
    </li>
</ul>
