{% include base.html %} {% assign docu = base %}

<ul class="nav">
    <li><a href="{{base}}/users/introduction/introduction.html">Overview</a></li>
	<li><a href="{{docu}}/users/basics/introduction/introduction.html">Concepts</a></li>
		<ul>
            <li><a href="{{docu}}/users/basics/introduction/introduction.html">Overview</a></li>
            <li><a href="{{docu}}/users/basics/whatis/whatis.html">About openHAB</a></li>
            <li><a href="{{docu}}/users/basics/concepts/concepts.html">Things, Items and Co</a></li>
            <li><a href="{{docu}}/users/not_yet_done.html">Persistence</a></li>
			<li><a href="{{docu}}/users/basics/sitemap/sitemap.html">Sitemaps</a></li>
			<li><a href="{{docu}}/users/basics/addons/addons.html">Add-ons</a></li>
		</ul>
	</li>
	<li><a href="{{docu}}/users/installing/introduction/introduction.html">Installation</a></li>
		<ul>
            <li><a href="{{docu}}/users/installing/introduction/introduction.html">Overview</a></li>
            <li><a href="{{docu}}/users/installing/checkingjava/checkingjava.html">Prerequisites</a></li>
			<li><a href="{{docu}}/users/installing/openhab/gettingstarted.html">Installing openHAB</a></li>
			<li><a href="{{docu}}/users/installing/designer/designer.html">Installing the Designer</a></li>
            <li><a href="{{docu}}/users/installing/migration/migration.html">Migrating from 1.x</a></li>
		</ul>
	</li>
    <li><a href="{{docu}}/users/working1/introduction/introduction.html">Tutorial (Beginner)</a></li>
        <ul>
            <li><a href="{{docu}}/users/working1/introduction/introduction.html">Overview</a></li>
            <li><a href="{{docu}}/users/working1/uis/uis.html">User Interfaces</a></li>
            <li><a href="{{docu}}/users/working1/installing/installing.html">Installing an extension</a></li>
            <li><a href="{{docu}}//users/working1/persistence/persistence.html">Working with persistence</a></li>
            <li><a href="{{docu}}/users/working1/rulesscripts/rulesscripts.html">Working with rules and script</a></li>
            <li><a href="{{docu}}/users/working1/logs/logs.html">Looking to the logs</a></li>
        </ul>
    </li>
    <li><a href="{{docu}}/users/working2/introduction/introduction.html">Tutorial (Advanced)</a></li>
        <ul>
            <li><a href="{{docu}}/users/working2/introduction/introduction.html">Overview</a></li>
            <li><a href="{{docu}}/users/working2/installing/installing.html">Installing the extension</a></li>
            <li><a href="{{docu}}/users/working2/connecting/connecting.html">Connecting to the Z-Wave controller</a></li>
            <li><a href="{{docu}}/users/working2/adding/adding.html">Adding a new thing</a></li>
            <li><a href="{{docu}}/users/working2/configuring/configuring.html">Configuring a thing</a></li>
            <li><a href="{{docu}}/users/working2/tools/tools.html">Other tools of HABmin</a></li>
        </ul>
    </li>
    <li><a href="{{docu}}/features/addons.html">Features</a></li>
        <ul>
			<li><a href="{{docu}}/features/addons.html">Overview</a></li>
            <li><a href="{{docu}}/features/bindings.html">Bindings</a></li>
            <li><a href="{{docu}}/features/uis.html">User Interfaces</a></li>
        </ul>
    </li>
    <li><a href="{{docu}}/users/appendix/contributing/contributing.html">Appendix</a></li>
        <ul>
            <li><a href="{{docu}}/users/appendix/contributing/contributing.html">Contributing</a></li>
            <li><a href="{{docu}}/users/appendix/downloads/downloads.html">Downloads</a></li>
        </ul>
    </li>
</ul>
