{% include base.html %} {% assign docu = base %}

<ul class="nav">
  <li><a href="{{docu}}/introduction.html">Introduction</a></li>
  <li><a href="{{docu}}/concepts/index.html">Concepts</a>
    <ul>
      <li><a href="{{docu}}/concepts/index.html">Overview</a></li>
      <hr />
      <li><a href="{{docu}}/concepts/things.html">Things</a></li>
      <li><a href="{{docu}}/concepts/items.html">Items</a></li>
      <li><a href="{{docu}}/concepts/discovery.html">Inbox &amp; Discovery</a></li>
      <li><a href="{{docu}}/concepts/audio.html">Audio &amp; Voice</a></li>
    </ul>
  </li>
  <li><a href="{{docu}}/installation/index.html">Installation</a>
    <ul>
      <li><a href="{{docu}}/installation/index.html">Overview</a></li>
      <hr />
      <li><a href="{{docu}}/installation/linux.html">Linux</a></li>
      <li><a href="{{docu}}/installation/windows.html">Windows</a></li>
      <li><a href="{{docu}}/installation/macosx.html">Mac OS X</a></li>
      <hr />
      <li><a href="{{docu}}/installation/openhabian.html">openHABian</a></li>
      <li><a href="{{docu}}/installation/docker.html">Docker</a></li>
      <hr />
      <li><a href="{{docu}}/installation/rasppi.html">Raspberry Pi</a></li>
      <li><a href="{{docu}}/installation/pine.html">Pine A64</a></li>
      <li><a href="{{docu}}/installation/synology.html">Synology DiskStation</a></li>
      <li><a href="{{docu}}/installation/qnap.html">QNAP NAS</a></li>
      <hr />
      <li><a href="{{docu}}/installation/designer.html">SmartHome Designer</a></li>
      <li><a href="{{docu}}/installation/security.html">Security &amp; Remote Access</a></li>
      <li><a href="http://www.myopenhab.org">myopenHAB</a></li>
    </ul>
  </li>
  <li><a href="{{docu}}/configuration/index.html">Configuration</a>
    <ul>
      <li><a href="{{docu}}/configuration/index.html">Overview</a></li>
      <hr />
      <li><a href="{{docu}}/configuration/things.html">Things</a></li>
      <li><a href="{{docu}}/configuration/items.html">Items</a></li>
      <li><a href="{{docu}}/configuration/sitemaps.html">Sitemaps</a></li>
      <li><a href="{{docu}}/configuration/transform.html">Transformations</a></li>
      <li><a href="{{docu}}/configuration/persistence.html">Persistence</a></li>
      <li><a href="{{docu}}/configuration/rules-dsl.html">Rules</a></li>
      <li><a href="{{docu}}/configuration/jsr223.html">JSR223 Scripting</a></li>
      <li><a href="{{docu}}/configuration/services.html">Services</a></li>
      <hr />
      <li><a href="{{docu}}/configuration/packages.html">Initial Setup Packages</a></li>
      <li><a href="{{docu}}/configuration/paperui.html">Paper UI</a></li>
      <li><a href="{{docu}}/configuration/habmin.html">HABmin</a></li>
      <li><a href="{{docu}}/configuration/rules-ng.html">Rules (Experimental)</a></li>
      <hr />
      <li><a href="{{docu}}/configuration/multimedia.html">Audio &amp; Voice</a></li>
    </ul>
  </li>
  <li><a href="{{docu}}/addons/index.html">Add-ons</a>
    <ul>
      <li><a href="{{docu}}/addons/index.html">Overview</a></li>
      <hr />
      <li><a href="{{docu}}/addons/bindings.html">Bindings</a>
        <ul>
          <li><a href="{{docu}}/addons/bindings.html">Overview</a></li>
          <hr />
          {% for binding in site.bindings %}
          <li><a href="{{ binding.url }}">{{ binding.label }}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li><a href="{{docu}}/addons/uis.html">User Interfaces</a>
        <ul>
          <li><a href="{{docu}}/addons/uis.html">Overview</a></li>
          <hr />
          {% for ui in site.uis %}
          <li><a href="{{ ui.url }}">{{ ui.label }}</a></li>
          {% endfor %}
          <hr />
          <li><a href="{{docu}}/addons/uis/apps/android.html">Android openHAB App</a></li>
          <li><a href="{{docu}}/addons/uis/apps/ios.html">iOS openHAB App</a></li>
          <li><a href="{{docu}}/addons/uis/apps/windows.html">Windows 10 openHAB App</a></li>
          <hr />
          <li><a href="{{docu}}/addons/iconsets/classic/readme.html">Iconset (classic)</a></li>
        </ul>
      </li>
      <li><a href="{{docu}}/addons/persistence.html">Persistence</a>
        <ul>
          <li><a href="{{docu}}/addons/persistence.html">Overview</a></li>
          <hr />
          {% for persistence in site.persistence %}
          <li><a href="{{ persistence.url }}">{{ persistence.label }}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li><a href="{{docu}}/addons/actions.html">Actions</a>
        <ul>
          <li><a href="{{docu}}/addons/actions.html">Overview</a></li>
          <hr />
          {% for action in site.actions %}
          <li><a href="{{ action.url }}">{{ action.label }}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li><a href="{{docu}}/addons/transformations.html">Transformations</a>
        <ul>
          <li><a href="{{docu}}/addons/transformations.html">Overview</a></li>
          <hr />
          {% for transformation in site.transformations %}
          <li><a href="{{ transformation.url }}">{{ transformation.label }}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li><a href="{{docu}}/addons/voice.html">Voice Services</a>
        <ul>
          <li><a href="{{docu}}/addons/voice.html">Overview</a></li>
          <hr />
          {% for voice in site.voice %}
          <li><a href="{{ voice.url }}">{{ voice.label }}</a></li>
          {% endfor %}
        </ul>
      </li>
      <hr />
      <li><a href="{{docu}}/addons/io.html">3rd Party Integration</a>
        <ul>
          <li><a href="{{docu}}/addons/io.html">Overview</a></li>
          <hr />
          {% for io in site.io %}
          <li><a href="{{ io.url }}">{{ io.label }}</a></li>
          {% endfor %}
          <hr />
          <li><a href="{{base}}/configuration/restdocs.html">REST API</a></li>
          <li><a href="{{base}}/configuration/eclipseiotmarket.html">Eclipse IoT Marketplace</a></li>
          <li><a href="http://www.myopenhab.org/" target="_blank">IFTTT</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="{{docu}}/administration/index.html">Advanced Functionality</a>
    <ul>
      <li><a href="{{docu}}/administration/index.html">Overview</a></li>
      <hr />
      <li><a href="{{docu}}/administration/console.html">Console</a></li>
      <li><a href="{{docu}}/administration/runtime.html">Runtime Commands</a></li>
      <li><a href="{{docu}}/administration/bundles.html">Bundle Management</a></li>
      <li><a href="{{docu}}/administration/logging.html">Logging</a></li>
      <hr />
      <li><a href="{{docu}}/administration/jsondb.html">JsonDB Storage</a></li>
    </ul>
  </li>
  <li><a href="{{docu}}/appendix/help.html">Community Guidance</a>
    <ul>
      <li><a href="{{docu}}/appendix/help.html">Finding Help &amp; FAQs</a></li>
      <li><a href="{{docu}}/appendix/contributing.html">Contributing</a></li>
    </ul>
  </li>
</ul>
