{% include base.html %} {% assign docu = base %}

<ul class="nav">
    <li><a href="{{base}}/10_users_manual/00_introduction/00_introduction.html">Overview</a>
	<li><a href="{{docu}}/10_users_manual/10_openhab_basics/00_openhab_basics_introduction/openhab_basics.html">openHAB Basics</a>
		<ul>
            <li><a href="{{docu}}/10_users_manual/10_openhab_basics/00_openhab_basics_introduction/openhab_basics.html">About of this part</a></li>
            <li><a href="{{docu}}/10_users_manual/10_openhab_basics/10_what_is_openhab/what_is_openhab.html">A bit more about openHAB</a></li>
            <li><a href="{{docu}}/10_users_manual/10_openhab_basics/20_things_items_and_co/things_items_and_co.html">Things, items and Co</a></li>
            <li><a href="{{docu}}/10_users_manual/not_yet_done.html">Persistence</a></li>
			<li><a href="{{docu}}/10_users_manual/10_openhab_basics/30_sitemap/sitemap.html">Sitemaps</a></li>
			<li><a href="{{docu}}/10_users_manual/10_openhab_basics/50_bindings_and_other_extensions/bindings_and_other_extensions.html">Add-ons</a></li>
		</ul>
	</li>
	<li><a href="{{docu}}/10_users_manual/20_installing_openhab/00_installing_openhab_introduction/installing_openhab_introduction.html">Installing openHAB</a>
		<ul>
            <li><a href="{{docu}}/10_users_manual/20_installing_openhab/00_installing_openhab_introduction/installing_openhab_introduction.html">About of this part</a></li>
            <li><a href="{{docu}}/10_users_manual/20_installing_openhab/10_checking_java/checking_java.html">Checking Java</a></li>
			<li><a href="{{docu}}/10_users_manual/20_installing_openhab/20_installing_openhab/installing_openhab.html">Installing openHAB</a></li>
			<li><a href="{{docu}}/10_users_manual/20_installing_openhab/30_Installing_the_designer/installing_the_designer.html">Installing the designer</a></li>
            <li><a href="{{docu}}/10_users_manual/20_installing_openhab/60_migrating_from_V1/migration.html">Migrating from V1</a></li>
		</ul>
	</li>
    <li><a href="{{docu}}/10_users_manual/30_working_with_openhab/00_working_with_openhab/working_with_openhab.html">Working with openHAB (I)</a>
        <ul>
            <li><a href="{{docu}}/10_users_manual/30_working_with_openhab/00_working_with_openhab/working_with_openhab.html">About of this part</a></li>
            <li><a href="{{docu}}/10_users_manual/30_working_with_openhab/10_the_different_uis/the_different_uis.html">The different UIs</a></li>
            <li><a href="{{docu}}/10_users_manual/30_working_with_openhab/20_installing_an_extension/installing_an_extension.html">Installing an extension</a></li>
            <li><a href="{{docu}}//10_users_manual/30_working_with_openhab/50_working_with_persistence/working_with_persistence.html">Working with persistence</a></li>
            <li><a href="{{docu}}/10_users_manual/30_working_with_openhab/60_working_with_rules_and_scripts/working_with_rules_and_scripts.html">Working with rules and script</a></li>
            <li><a href="{{docu}}/10_users_manual/30_working_with_openhab/70_looking_to_the_logs/looking_to_the_logs.html">Looking to the logs</a></li>
        </ul>
    </li>
    <li><a href="{{docu}}/10_users_manual/40_working_with_openhab_2/00_z-wave_and_habadmin/z-wave_and_habadmin.html">Working with openHAB (II)</a>
        <ul>
            <li><a href="{{docu}}/10_users_manual/40_working_with_openhab_2/00_z-wave_and_habadmin/z-wave_and_habadmin.html">About of this part</a></li>
            <li><a href="{{docu}}/10_users_manual/40_working_with_openhab_2/10_installing_the_extension/installing_the_extensions.html">Installing the extension</a></li>
            <li><a href="{{docu}}/10_users_manual/40_working_with_openhab_2/20_connecting_to_the_z-wave_controler/connecting_to_the_z-wave_controler.html">Connecting to the Z-Wave controler</a></li>
            <li><a href="{{docu}}/10_users_manual/40_working_with_openhab_2/30_adding_a_new_thing/adding_a_new_thing.html">Adding a new thing</a></li>
            <li><a href="{{docu}}/10_users_manual/40_working_with_openhab_2/40_configuring_a_thing/configuring_a_thing.html">Configuring a thing</a></li>
            <li><a href="{{docu}}/10_users_manual/40_working_with_openhab_2/90_others_tools_of_habmin/other_tools_of_habmin.html">Other tools of HABmin</a></li>
        </ul>
    </li>
    <li><a href="{{docu}}/10_users_manual/90_appendix/00_introduction/introduction.html">Appendix</a>
        <ul>
            <li><a href="{{docu}}/10_users_manual/90_appendix/00_introduction/introduction.html">About of this part</a></li>
            <li><a href="{{docu}}/10_users_manual/90_appendix/10_contributing/contributing.html">Contributing to openHAB</a></li>
            <li><a href="{{docu}}/10_users_manual/90_appendix/20_downloads/downloads.html">Download reference</a></li>
            <li><a href="{{docu}}/features/addons.html">Add-ons list</a>
        </ul>
    </li>
</ul>
