{% include base.html %} {% assign docu = base %}

<ul class="nav">
    <li><a href="{{base}}/users/introduction/introduction.html">Overview</a>
	<li><a href="{{docu}}/users/basics/introduction/introduction.html">openHAB Basics</a>
		<ul>
            <li><a href="{{docu}}/users/basics/introduction/introduction.html">About of this part</a></li>
            <li><a href="{{docu}}/users/basics/whatis/whatis.html">A bit more about openHAB</a></li>
            <li><a href="{{docu}}/users/basics/concepts/concepts.html">Things, items and Co</a></li>
            <li><a href="{{docu}}/users/not_yet_done.html">Persistence</a></li>
			<li><a href="{{docu}}/users/basics/sitemap/sitemap.html">Sitemaps</a></li>
			<li><a href="{{docu}}/users/basics/addons/addons.html">Add-ons</a></li>
		</ul>
	</li>
	<li><a href="{{docu}}/users/installing/introduction/introduction.html">Installing openHAB</a>
		<ul>
            <li><a href="{{docu}}/users/installing/introduction/introduction.html">About of this part</a></li>
            <li><a href="{{docu}}/users/installing/checkingjava/checkingjava.html">Checking Java</a></li>
			<li><a href="{{docu}}/users/installing/openhab/openhab.html">Installing openHAB</a></li>
			<li><a href="{{docu}}/users/installing/designer/designer.html">Installing the designer</a></li>
            <li><a href="{{docu}}/users/installing/migration/migration.html">Migrating from V1</a></li>
		</ul>
	</li>
    <li><a href="{{docu}}/users/working1/introduction/introduction.html">Working with openHAB (I)</a>
        <ul>
            <li><a href="{{docu}}/users/working1/introduction/introduction.html">About of this part</a></li>
            <li><a href="{{docu}}/users/working1/uis/uis.html">OpenHAB 2 UIs</a></li>
            <li><a href="{{docu}}/users/working1/installing/installing.html">Installing an extension</a></li>
            <li><a href="{{docu}}//users/working1/persistence/persistence.html">Working with persistence</a></li>
            <li><a href="{{docu}}/users/working1/rulesscripts/rulesscripts.html">Working with rules and script</a></li>
            <li><a href="{{docu}}/users/working1/logs/logs.html">Looking to the logs</a></li>
        </ul>
    </li>
    <li><a href="{{docu}}/users/working2/introduction/introduction.html">Working with openHAB (II)</a>
        <ul>
            <li><a href="{{docu}}/users/working2/introduction/introduction.html">About of this part</a></li>
            <li><a href="{{docu}}/users/working2/installing/installing.html">Installing the extension</a></li>
            <li><a href="{{docu}}/users/working2/connecting/connecting.html">Connecting to the Z-Wave controller</a></li>
            <li><a href="{{docu}}/users/working2/adding/adding.html">Adding a new thing</a></li>
            <li><a href="{{docu}}/users/working2/configuring/configuring.html">Configuring a thing</a></li>
            <li><a href="{{docu}}/users/working2/tools/tools.html">Other tools of HABmin</a></li>
        </ul>
    </li>
    <li><a href="{{docu}}/users/appendix/introduction/introduction.html">Appendix</a>
        <ul>
            <li><a href="{{docu}}/users/appendix/introduction/introduction.html">About of this part</a></li>
            <li><a href="{{docu}}/users/appendix/contributing/contributing.html">Contributing to openHAB</a></li>
            <li><a href="{{docu}}/users/appendix/downloads/downloads.html">Download reference</a></li>
            <li><a href="{{docu}}/features/addons.html">Add-ons list</a>
        </ul>
    </li>
</ul>
