name: Cherry pick automation
# Automatically create pull requests to release branches on condition

on:
  pull_request:
    branches:
      - main
    types: ["closed"]

jobs:
  cherry_pick_release_stable:
    runs-on: ubuntu-latest
    name: Cherry pick into release-stable
    if: contains(github.event.pull_request.labels.*.name, 'release-stable')
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Cherry pick action
        uses: carloscastrojumo/github-cherry-pick-action@v1.0.1
        with:
          branch: final-stable
          committer: openhab-bot <info@openhab.org>
          labels: |
            cherry-pick
  cherry_pick_release_v2_5_x:
    runs-on: ubuntu-latest
    name: Cherry pick into release-v2.5
    if: contains(github.event.pull_request.labels.*.name, 'release-v2.5.x')
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Cherry pick action
        uses: carloscastrojumo/github-cherry-pick-action@v1.0.1
        with:
          branch: final-2.5.x
          committer: openhab-bot <info@openhab.org>
          labels: |
            cherry-pick
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}