name: Checking Markdown For Errors

# https://github.blog/2020-08-03-github-actions-improvements-for-fork-and-pull-request-workflows/

on:
  push:
    branches:
      - main
      - 2.5.x
    tags-ignore:
      - '**'

  pull_request_target:
    branches:
      - main
    types:
      - open
      - synchronize
      - reopen

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:

      - name: Check out code
        uses: actions/checkout@v2

      - name: Run markdownlint-cli
        uses: Confectrician/github-action-markdown-cli@v2.0.0
        with:
          files: .
          config_file: ".markdownlint.yaml"
