name: Linting

on:
  push:
    branches:
      - 'main'
      - '2.5.x'
    tags-ignore:
      - '**'
  pull_request:
    branches:
      - 'main'
    types: [open,synchronize,reopen]

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:

      - name: Check out code
        uses: actions/checkout@v2

      - name: Run markdownlint (mdl)
        uses: bewuethr/mdl-action@v1.0.12
        with:
          style-file: .github/markdownStyle.rb
